* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: $font-primary;
}

body {
  line-height: 1;
  font-size: 14px;
  color: #272727;
  overflow-x: hidden;
}

.container {
  max-width: $wrapper + 30px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.btn {
  font-weight: bold;
  border-radius: 18px;
  padding: 15px 50px;
  text-transform: uppercase;
  font-size: 15px;
  text-decoration: none;
  @include bgc($color-primary);
  color: $color-light;
  @include maxWidth(767px) {
    font-size: 14px;
    padding: 15px 35px;
  }
  &--white {
    @include bgc($color-light);
    color: $color-primary;
  }
}

// BLOCK BOX
.block-box {
  margin: 0 auto;
  max-width: 700px;
  text-align: center;
  color: $color-dark;
  word-break: break-all;
  &__title {
    font-weight: 400;
    font-size: 38px;
    font-style: italic;
    padding-bottom: 34px;
    margin-bottom: 34px;
    position: relative;
    &::after {
      content: "";
      bottom: 0;
      @include blockCenter("left");
      @include size(200px, 4px);
      @include bgc($color-primary);
    }
  }
  &__desc {
    font-size: 15px;
    line-height: 2;
    font-weight: 500;
  }
  @include maxWidth(374px) {
    &__title {
      font-size: 32px;
    }
  }
}

// BLOCK CONTENT
.block {
  &-content {
    max-width: 965px;
    margin:  220px auto 0;
    color: $color-light;
    text-align: center;
  }
  &-content__heading {
    font-size: 46px;
    text-transform: uppercase;
    font-weight: 300;
    position: relative;
    padding-bottom: 38px;
    margin-bottom: 34px;
    span {
      font-weight: bold;
    }
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      @include blockCenter("left");
      @include bgc($color-primary);
      @include size(200px, 4px);
    }
  }
  &-content__description {
    font-size: 22px;
    font-weight: 300;
    line-height: 1.8;
    margin-bottom: 70px;
    @include lineClamp(6);
  }
  @include maxWidth(1023px) {
    &-content {
      margin: 165px auto 0;
    }
    &-content__heading {
      font-size: 35px;
    }
    &-content__description {
      font-size: 18px;
    }
  }
  @include maxWidth(767px) {
    &-content {
      margin: 140px auto 0;
    }
    &-content__heading {
      font-size: 28px;
    }
    &-content__description {
      font-size: 15px;
    }
  }
  @include maxWidth(424px) {
    &-content {
      margin: 85px auto 0;
    }
    &-content__heading {
      font-size: 20px;
    }
    &-content__description {
      font-size: 14px;
    }
  }
}
