.template {
  @include bgc($bg-gray);
  padding: 174px 0 90px;
  &__container {
    position: relative;
    @include flexbox((
      align-items: center,
      justify-content: space-between
    ));
  }
  &-intro {
    max-width: 480px;
    color: $color-dark;
  }
  &-intro__title {
    line-height: 1.5;
    font-size: 38px;
    font-style: italic;
    color: $color-dark;
    font-weight: 300;
    position: relative;
    padding-bottom: 34px;
    margin-bottom: 40px;
    span {
      display: block;
    }
    &::after {
      content: "";
      bottom: 0;
      position: absolute;
      left: 0;
      @include size(200px, 4px);
      @include bgc($color-primary);
    }
  }
  &-intro__desc {
    font-weight: 300;
    font-size: 15px;
    line-height: 1.8;
  }
  &-video {
    margin-top: 35px;
    text-transform: uppercase;
    font-size: 15px;
    color: $color-primary;
    font-weight: 700;
    text-decoration: none;
    display: inline-block;
  }
  &-video__icon {
    font-size: 12px;
    margin-left: 12px;
    border-radius: 50%;
    @include size(30px);
    border: 1px solid $color-primary;
    color: $color-primary;
    line-height: 30px !important;
    text-align: center;
  }
  &-laptop {
    max-width: 100%;
    pointer-events: none;
    vertical-align: middle;
    position: absolute;
    right: -370px;
    top: -65px;
  }
  @include maxWidth(1279px) {
    padding: 50px 0;
    &__container {
      @include flexbox((
        flex-direction: column,
        align-items: center
      ))
    }
    &__container > * {
      max-width: 100%;
      text-align: center;
    }
    &-intro {
      max-width: 680px;
      text-align: center;
    }
    &-intro__title {
      &::after {
       @include blockCenter("left");
      }
    }
    &-laptop {
      position: unset;
      margin: 40px 0 0;
    }
  }
  @include maxWidth(424px) {
    &-intro__title {
      font-size: 24px;
    }
  }
  .btn {
    padding: 18px 35.7px;
  }
}

.template-download {
  padding: 140px 0 214px;
  &__container {
    position: relative;
    @include flexbox((
      justify-content: space-between,
      align-items: center,
      flex-direction: row-reverse
    ));
  }
  &__image {
    position: absolute;
    top: -70px;
    left: -210px;
    max-width: 100%;
    pointer-events: none;
    vertical-align: middle;
  }
  &__desc {
    padding-bottom: 60px;
  }
  @include maxWidth(1279px) {
    padding: 50px 0;
    &__container {
      flex-direction: column;
    }
    &__image {
      position: unset;
      margin-top: 40px;
      padding-right: 0;
    }
  }
}